<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
</head>
<body>
<header th:insert="~{fragments/header :: greeting-header}"/>
<main>
    <section layout:fragment="content">
        <div class="container">
            <div class="jumbotron mt-3">
                <h1>Hello World in Dashboard!</h1>
                <p class="lead">Here will be placed content info about app.</p>
            </div>
        </div>
    </section>
</main>

</body>
</html>



