<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Dashboard</title>
</head>
<body>
<header>

</header>
<main>
    <section layout:fragment="content">
        <div class="container">
            <div class="jumbotron mt-3">
                <p class="lead">Sorry, you do not have permission to view this page</p>
            </div>
        </div>
    </section>
</main>

</body>
</html>



